@{
    Layout = "~/Views/Shared/_LayoutAdvisor.cshtml";
}


<div class="jumbotron">
    <h1>Hello Advisors!</h1>
    <p class="lead">You are logged in as an advisor, this allows you to create course plans for students</p>
</div>