@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>Hello Teachers!</h1>
    <p class="lead">You are logged in as a teacher which allows you to have a class homepage and create chatrooms to communicate with students and entire classes</p>
</div>